**Question 1**

In [50]:
def sum_of_evens(l):
    # Initialize sum variable to store the sum of even numbers
    total = 0

    # Iterate through each number in the list
    for i in l:
        # Check if the number is even
        if i % 2 == 0:
            # Add the even number to the total sum
            total += i

    # Return the sum of even numbers
    return total
sum_of_evens([1,2,3,4,5,6,7,8])

20

**Question 2**

In [49]:
# defining a function
def reverse_str(s):
# It will reverse the string
  return s[::-1]
reverse_str("hello World")

'dlroW olleh'

**Question 3**

In [48]:
def square(n):
  new_list=[] # Created an empty list to put square of each item
  for i in n:
    new_list.append(i**2) # Append will add the square of item in new_list
  return new_list

square([1,2,3,4,5,8])

[1, 4, 9, 16, 25, 64]

**Question 4 (Easy and easy Approach)**

In [47]:
def prime_or_not(num):
    if num <= 1:
      return "not a prime"  # Numbers less than or equal to 1 are not prime
    for i in range(2, num):
        if num % i == 0:
            return "not a prime"  # num is divisible by i, so it's not prime
    return "prime"  # If no divisors were found, num is prime

def check_prime_in_range(num):
  if 1 <= num <= 200:
    return prime_or_not(num)
  else:
    return "Number out of range"  # Handle numbers outside the range

# Test the function
check_prime_in_range(67)

'prime'

**Question 4 (Long Approach)**

In [44]:
def prime_or_not(num):
    """
    Check if a number is prime.

    Parameters:
    num (int): The number to check.

    Returns:
    str: "prime" if the number is prime, "not a prime" otherwise.
    """
    # Numbers less than or equal to 1 are not prime
    if num <= 1:
        return "not a prime"

    # 2 and 3 are prime numbers
    if num <= 3:
        return "prime"

    # Exclude multiples of 2 and 3
    if num % 2 == 0 or num % 3 == 0:
        return "not a prime"

    # Check for factors from 5 to sqrt(num)
    # Use i and i + 2 to cover the pattern 6k ± 1
    i = 5
    while i * i <= num:
        # If num is divisible by i or i + 2, it's not prime
        if num % i == 0 or num % (i + 2) == 0:
            return "not a prime"
        i += 6  # Increment to check next possible factors in the 6k ± 1 pattern

    # If no factors found, num is prime
    return "prime"

def check_prime_in_range(num):
    """
    To check if a number is within the valid range and determine if it's prime.
    """
    # Check if the number is within the range of 1 to 200
    if 1 <= num <= 200:
        return prime_or_not(num)
    else:
        # Handle numbers outside the range
        return "Number out of range"

# Test the function with sample inputs
print(check_prime_in_range(3))    # Should output "prime" because 5 is a prime number
print(check_prime_in_range(197))  # Should output "not a prime" because 200 is not a prime number
print(check_prime_in_range(201))    # Should output "not a prime" because 1 is not a prime number

prime
prime
Number out of range

**Question 5**

In [43]:
class Fibonacci:
    def __init__(x, num_terms):
        x.num_terms = num_terms
        x.current_term = 0
        x.a, x.b = 0, 1

    def __iter__(x):
        return x

    def __next__(x):
        if x.current_term >= x.num_terms:
            raise StopIteration

        if x.current_term == 0:
            x.current_term += 1
            return x.a

        if x.current_term == 1:
            x.current_term += 1
            return x.b

        x.a, x.b = x.b, x.a + x.b
        x.current_term += 1
        return x.b

# Example usage
fibo_sequence = Fibonacci(10)

for number in fibo_sequence:
    print(number)

0
1
1
2
3
5
8
13
21
34

**Question 6**

In [42]:
def powers_of_two(e):
    # Iterate from 0 to max_exponent (inclusive)
    for exponent in range(e+1): # e+1 because last number is excluded
        yield 2 ** exponent
gen = powers_of_two(5)
next(gen)
next(gen)
next(gen)
next(gen)
next(gen)

16

**Question 7**

In [ ]:
'''In google colab you can upload a file using the following code:

from google.colab import files
uploaded = files.upload()'''

def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file: # Here it will give an error becuase in google colab can't access your computer files directly
        for line in file: # "r" is used to read a file its selected by default
            yield line.strip()  # yields each line without trailing newline characters
file_path = 'example.txt' # its just an example

for line in read_file_line_by_line(file_path):
    print(line)

**Question 8**

In [41]:
students = [("Alice", 36, "Biology"),("Bob", 14, "Mathematics"),("Charlie", 24, "Physics"),("Diana", 23, "Chemistry")] # List of tuples of students
sort=lambda student: student[1] # Lambda function to sort by 2nd element of each tuple
sorted(students,key=sort) # Setting up a custom key

[('Bob', 14, 'Mathematics'),
 ('Diana', 23, 'Chemistry'),
 ('Charlie', 24, 'Physics'),
 ('Alice', 36, 'Biology')]

**Question 9**

In [40]:
def celsius2fahrenheit(temp):
    # Convert Celsius to Fahrenheit
    return (temp * 9 / 5) + 32

# List of temperatures in Celsius
celsius = [25, 30, 35, 40]

# Map the celsius2fahrenheit function to each temperature in the list
Celsius_to_Fahrenheit = map(celsius2fahrenheit, celsius)

# Convert the map object to a list and print the result
print(list(Celsius_to_Fahrenheit))

[77.0, 86.0, 95.0, 104.0]

**Question 10**

In [39]:
def remove_vowels(s):
    # Define vowels
    vowels = 'aeiouAEIOU'

    # Use filter with a lambda function to exclude vowels
    filtered_chars = filter(lambda x: x not in vowels, s)

    # Join filtered characters to form the result string
    result = ''.join(filtered_chars)

    return result

remove_vowels("hello world")  # Output: "hll wrld"

'hll wrld'

**Question 11**

In [37]:
# List of orders (order number, book title and author, quantity, price per item)
orders = [
    [34587, "learning python, mark lutz", 4, 40.95],
    [98762, "programming python, mark lutz", 5, 56.80],
    [77226, "head first python, paul barry", 3, 32.95],
    [88112, "Einfuhrung in python3, bernd klein", 3, 24.99]
]

# Lambda function to calculate the total cost, applying the 10€ rule
order_total = list(map(lambda x: (x[0], x[2] * x[3] if x[2] * x[3] >= 100 else x[2] * x[3] + 10), orders))

# Print the result
print(order_total)
# You can see for 3rd and 4th book it added 10€

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]